<!-- # 19a---personal_portfolio_project/portfolio/templates/portfolio/home.html, copy & paste:
# cut & paste original contents into body tags -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <!-- # 19b---personal_portfolio_project/portfolio/templates/portfolio/home.html, copy & paste to the beginning of body tags: -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- # 8h---in portfolio / templates / portfolio, add new file: home.html, add codes: -->
    <h1>Stanley's Portfolio</h1>

    <!-- # 15c---edit personal_portfolio_project/portfolio/templates/portfolio/home.html: -->
    {% load static %}

          <!-- # 17---personal_portfolio_project/portfolio/templates/portfolio/home.html, add: -->
    <a href="{% url 'blog:all_blogs' %}">Blog</a>
    <br>

          <!-- # 15d---edit personal_portfolio_project/portfolio/templates/portfolio/home.html: -->
    <a href="{% static "portfolio/resume.pdf" %}">Resume</a>
    <br>

    <img src="{% static 'portfolio/stanley.png' %}">



    <!-- # 9---in home.html, add: -->
    <!-- # to show what inside projects -->
    <!-- {{ projects }} -->

    <!-- # 10---in home.html, change: {{ projects }} to: -->
    {% for project in projects %}

        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>

        <!-- {{ project.image.url }} -->
        <!-- <img src="{{ project.image.url }}"> -->
        <img src="{{ project.image.url }}" height=200 width=200>

        <!-- <a href="{{ project.url }}">Link</a> -->
        <!-- codes mean: if project.url existing, ie True -->
        {% if project.url %}
        <br><a href="{{ project.url }}">Link</a>
        {% endif %}

    {% endfor %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

  </body>
</html>
